// 侧边栏宽度
$app-side-width: 200px;
// 侧边栏收起宽度
$app-side-collapse-width: 64px;
// 头部菜单高度
$app-header-height: 50px;
// 侧边栏颜色
$app-side-bg-color: rgb(55, 68, 105);
$app-side-active-color: #5279eb;
$app-side-text-color: #ffffff;
// 登录页面背景
$app-login-bg-color: linear-gradient(to bottom right, #bfa, skyblue);
